
.container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    background-color: gray;
    padding: 5px;
    width: 80vw;
    margin: 0 auto ;
    border-radius: 8px;
}

.btn{
    display: grid;
    place-items: center;
    background-color: #ccc;
    background: white;
    color: red;
    cursor: pointer;
    padding: .3rem 1rem;
    border-radius: .5rem;
    font-weight: bold;
}
