
.selected{
    transform: translateY(2px) !important;
    border:none !important;
    background-color:  rgb(56, 0, 56) !important;
}

li.selected > a{
    color: #fff;
    filter: drop-shadow(0 0 5px #fff);

}