.title{
    --border-size: 3px;
    --border-size-minus: -3px;
    --border-color: '#3d63b7';
    color:'#fac705';
    letter-spacing: '0.4rem';
    text-shadow: var(--border-size-minus) var(--border-size-minus) 0 var(--border-color),
                 var(--border-size) var(--border-size-minus) 0 var(--border-color),
                 var(--border-size-minus) var(--border-size) 0 var(--border-color),
                 var(--border-size) var(--border-size) 0 var(--border-color)
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.flame {
    font-size: 2rem;
    animation: wiggle 2.5s infinite;
    filter: drop-shadow(0 0 5px orange);
}
