.container{
    width: 150px;
    height: 200px;
    margin: 5px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
    background: linear-gradient(-45deg, rgb(92, 9, 92), rgb(182, 16, 182), rgb(187, 51, 10), rgb(180, 19, 180));
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    /* background-color: purple; */

    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.692);
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.692); */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.name{
    color: #fff;
    text-transform: capitalize;
}

.sprite {
    display: block;
    width: 50%;
    transition: .2s ease-in-out;
    transform: scale(1);
    height: 50%;
    object-fit: contain;
    --stroke-pos: 1px;
    --stroke-neg: -1px;
    --stroke-color: #fff;
    --stroke-blur : 0;
    filter:
        
        /* white border */
        drop-shadow(var(--stroke-pos) 0 var(--stroke-blur) var(--stroke-color)) 
        drop-shadow(var(--stroke-neg) var(--stroke-blur) var(--stroke-color))
        drop-shadow(0 var(--stroke-pos) var(--stroke-blur) var(--stroke-color))
        drop-shadow(0 var(--stroke-neg) var(--stroke-blur) var(--stroke-color))
        drop-shadow(var(--stroke-pos) var(--stroke-pos) var(--stroke-blur) var(--stroke-color)) 
        drop-shadow(var(--stroke-pos) var(--stroke-neg) var(--stroke-blur) var(--stroke-color))
        drop-shadow(var(--stroke-neg) var(--stroke-pos) var(--stroke-blur) var(--stroke-color))
        drop-shadow(var(--stroke-neg) var(--stroke-neg) var(--stroke-blur) var(--stroke-color))
        
        /* shadow */
        drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.658))
    
    ;
}

.container img:hover {
    transform: scale(1.1);
}