
.bgImage{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    top: 0; left: 0;
    content: "";
    z-index: -3;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/5.svg);
}

.blur{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    top: 0; left: 0;
    content: "";
    z-index: -2;
    backdrop-filter: blur(5px);
}

.darken{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
    top: 0; left: 0;
    content: "";
    z-index: -1;
    background-color: rgba(30, 94, 94, 0.5);
}