.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container * {
    background-color: transparent;
}

.container span {
    color: #fff
}

.container img{
    width: 500px;
}